footer.footer.footer-main
	.container-f
		.row
			.col-xl-7.col-lg-6
				.footer-content.ml-auto
					h2.footer-content__title.text-uppercase
						| Контакты
					.footer-content__text
						p
							| Коммуникационное агентство
						p
							| 344000, Россия, г. Ростов-на-Дону ул. Мира, д. 12 #[br]Бизнес–центр «Рост», оф. 104
					.row.align-items-center
						.col-auto
							ul.phones-list
								li
									| +7 (861) 300-11-28
								li
									| +7 (861) 300-11-52
								li
									| +7 (861) 300-11-52
						.col-auto
							.support-block
								p
									| Email: #[br]#[a(href="mailto:info@example.com") info@example.com]
								p
									| #[a(href="https://www.facebook.com/exampleagency" target="_blank") Facebook.com/exampleagency]
			.col-xl-5.col-lg-6
				.form-wrap.ml-auto
					form.form-support
						.form-group
							input.form-control.input-form.rounded-0(type='text' placeholder="Полное имя")
						.form-group
							input.form-control.input-form.rounded-0(type='email' placeholder="E-mail")
						.form-group
							input.form-control.input-form.rounded-0(type='tel' placeholder="Телефон")
						.form-group
							textarea.form-control.textarea-form.rounded-0(placeholder="Пожалуйста, опишите задачу")
						p.link-form.text-center.pb-3.pt-2
							a(href="#")
								| Политика обработки персональных данных
						p.text-center
							button.btn.btn-outline-light.btn-lg.rounded-0(type='submit')
								| ОТПРАВИТЬ ЗАЯВКУ
