#projectModal.modal.fade(tabindex='-1', aria-hidden='true')
	.modal-dialog
		.modal-content.rounded-0
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				p.mb-4
					img.img-fluid(src="/assets/img/images/img1.jpg" alt="")
				h2.title-modals.text-uppercase
					| Республика Саха
				.text-section
					p
						| Коммуникационное агентство – часть многофункционального холдинга, объединяющего различные компании на территории России и ближнего зарубежья.
					p
						| Наши подходы к организации бизнеса и имеющиеся ресурсы позволяют одинаково эффективно обеспечивать реализацию как крупномасштабных федеральных или международных проектов, так и решать небольшие локальные задачи. Мы находимся в постоянном развитии, расширяя и укрепляя имеющиеся бизнес-направления, а также формируя новые.
					p
						| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, accusamus aliquam aspernatur blanditiis consequuntur delectus ea eius iste itaque, maiores qui reiciendis reprehenderit repudiandae saepe voluptatibus! Asperiores atque beatae dolores esse illo in numquam quas quia soluta voluptate! Alias asperiores, at cum deleniti doloribus eius explicabo hic maiores, nulla obcaecati officiis optio similique tempore tenetur unde? Esse pariatur qui voluptatem.
			.modal-footer
				button.btn.btn-secondary.rounded-0(type='button', data-dismiss='modal')
					| Закрыть
