doctype html
html(lang="ru-Ru")
  include ../includes/modules/head
  block body
    body(class=pageClass)
      block wrapper
        div#app(class=wrapperClass)
          block header
          block content
          block footer
      block scripts
